.Dashboard{
    display: flex;
    flex-direction: row;
    padding-right: 73px;
    background-color:rgb(177, 179, 181);
}
.User{
    align-items: center;
    padding-left: 500px;
    padding-top: 220px;
    border-color: black;
}