:root{
    --x: min(100vh,100vw);
}
.ErrorMsg
{
    color:red;
    font-size: 14px;
}
.LoginBorder *{
    padding: 0;
    margin: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.LoginBorder button,input {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    line-height: normal;
    text-align: inherit;
}
.LoginBorder{
    height: 100vh;
    background-image: url("https://ik.imagekit.io/mtbv505oky/pexels-jonathan-borba-14820450.jpg?updatedAt=1695286144845");
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(255, 255, 255);

}

.LoginBox{
    width: 400px;
    height: 80vh;
    position:relative;
    left: 200px;
    opacity: 90%;

}
.LoginBoxTop{
    height: 85%;
    width: 100%;
    font-weight: bolder;
    font-size: 25px;
    border: 1px solid rgba(128, 128, 128, 0);
    background-color: rgb(255, 255, 255);
    opacity: 120%;
}
.LoginBoxBottom{
    height: 11%;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.779);
    font-family: 'Roboto', sans-serif;
}
.LoginBoxBottom span{
    color: blue;
    cursor: pointer;
}
.LoginBoxTitle{
    width: 100%;
    height: 30%;
}
.LoginBoxTitle p{
    font-size: 20px;
        color: rgb(0, 0, 0);
}
.LoginBoxTitle h2{
    color: rgb(0, 0, 0);
}
.LoginForm{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.LoginForm input{
    width: 90%;
    height: 12%;
    margin: 3% 5%;
    border-bottom: 1px solid grey;
    border-radius: 2px;
    text-align: left;
    text-indent: 10px;
    font-size: 17px;
}
.LoginForm button{
    width: 90%;
    height: 12%;
    margin: 5%;
    border-radius: 2px;
    border-radius: 5px;
    text-align: left;
    text-indent: 10px;
    font-size: 18px;
    background-color: rgb(0, 60, 255);
    color: white;
    cursor: pointer;
}
.LoginForm input:focus{
    outline: none;
}
.LoginForm button:hover{
    background-color:black;
}
.username{
    color: rgb(255, 255, 255);
    font-size: 12px;
    width: 90%;
    align-items: flex-start;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

